.family-time-container {
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  mat-card {
    margin-top: 20px;
    width: auto;
  }
  
  ul {
    list-style-type: none;
  }
  
  button {
    margin-top: 10px;
  }
  