<p-toolbar>
  <div class="p-toolbar-group-left">
    <button type="button" pButton icon="pi pi-bars" (click)="toggleSidebar()" class="sidebar-toggle-btn"></button>
    <!-- <span class="p-toolbar-title">Doctor Dashboard</span> -->
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

  </div>

  <div class="p-toolbar-group-right">
    <button type="button" pButton class="icon-button" (click)="toggleNotifications()">
      <i class="pi pi-bell notification-icon"></i>
    </button>

    <button type="button" pButton icon="pi pi-user" label="Profile" class="profile-btn"(click)="onProfile()">

    </button>
    
    <button type="button" pButton icon="pi pi-sign-out" label="Logout" (click)="logout()" class="logout-btn"></button>
  </div>
</p-toolbar>
<div *ngIf="notificationsVisible" class="notifications-dropdown">
  <h4>Notifications</h4>
  <div *ngIf="notifications.length === 0; else notificationList">
    <p>No new notifications.</p>
  </div>
  <ng-template #notificationList>
    <ul class="notification-list">
      <li *ngFor="let notification of notifications">
        {{ notification.message || 'No message available' }}
      </li>
    </ul>
  </ng-template>
  <button (click)="markAllAsRead()">Mark all as read</button>
</div>